body {
  background-color: #cfb926;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px 10px rgb(0, 0, 0, 0.3);
}

form select {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(255, 249, 249);
}

h1 {
  color: rgb(243, 12, 12);
}

button {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(233, 79, 79);
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  color: black;
  
}

#result li {
  margin-bottom: 10px;
  list-style: none;
}
